{% extends "base.html.twig" %}
{% block body %}
<style>

h1 {
  margin-top: 2%;
	color: #27476E;
	text-align: center;
	margin-bottom: 2%;
	font-size: 300%
}

.princi {
  width: 100%;
	margin: 0 auto;
	text-align: center;
}

.blop{
  position: absolute;
  margin-left: 5%;
  width: 40%;
  margin-bottom: 5%;
}

.blip {
  position: absolute;
  margin-left: 55%;
  width: 40%;
  margin-bottom: 5%;
}

input {
	border-radius: 30px;
	margin-top: 1%;
	height: 50px;
	border: none;
	background-color: white;
	label: none;
}

		.bouton {
			background-image: linear-gradient(to right, #27476E 0%, #4d6685 51%, #27476E 100%);
			margin-top: 25%;
			border-radius: 30px;
			background-size: 200% auto;
			color: white;
			width: 30%;
			height: 50px;
			border: #27476E;
			font-size: 150%;
			box-shadow: 0 0 20px #eee;
			transition: 0.5s;
		}
		.bouton:hover {
			background-position: right center;
			color: #fff;
			text-decoration: none;
		}

		@media(max-width: 720px) {
			.bouton {
				font-size: 1.2rem; 
				padding: 0.5rem 1rem;
				margin-top:70%;
				
			}
		}

</style>

    <h1>Inscription</h1>

<div class="princi">
    {{form_start(form)}}

  <div class="blop">
    {{form_row(form.username, {'label':'Nom de famille' ,'attr':{'class':'princi','placeholder': 'Nom de famille'}})}}

    {{form_row(form.firstname, {'label':'Prénom' ,'attr':{'class':'princi','placeholder': 'Prénom'}})}}

    {{form_row(form.Email, {'label':'Adresse email' ,'attr':{'class':'princi','placeholder': 'Adresse email'}})}}

    {{form_row(form.Adresse, {'label':'Adresse postale' ,'attr':{'class':'princi','placeholder': 'Adresse postale'}})}}
  </div>

  <div class="blip">
    {{form_row(form.Ville, {'label':'Ville' ,'attr':{'class':'princi','placeholder': 'Ville'}})}}

    {{form_row(form.Pays, {'label':'Pays' ,'attr':{'class':'princi','placeholder': 'Pays'}})}}

    {{form_row(form.Password, {'label':'Mot de passe' ,'attr':{'class':'princi','placeholder': 'Mot de passe'}})}}

    {{form_row(form.PasswordVerification, {'label':'Vérification du mot de passe' ,'attr':{'class':'princi','placeholder': 'Vérification du mot de passe'}})}}
  </div>


  <button type="submit" class="bouton">Confirmer</button>
</div>

{{form_end(form)}}
{% endblock %}